// Available badge

.available {
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: fixed;
  left: -40px;
  top: 17px;
  z-index: 9999;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 3px #888;
     -moz-box-shadow: 0 0 3px #888;
          box-shadow: 0 0 3px #888;
}
.available a {
  color: #444;
  display: block;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}