/* ==========================================================================
Hero
========================================================================== */
.hero.hero-home {
  min-height: 650px;
  .hero-content {
    padding-top: 7%;
    padding-bottom: 20%;
  }
}

.hero {
  min-height: 350px;
  background: #393F4E;
  background: -webkit-linear-gradient(to left, #89253e, #393F4E);
  background: linear-gradient(to left, #89253e, #393F4E);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    font-weight: 300;
  }
  p.intro {
    color: #AEB0B2;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 470px;
  }
}

.hero-light {
  background: #fff;
  border-bottom: 1px solid #ddd;
  h1 {
    color: #3D4351;
  }
  .name {
    color: #3D4351;
  }
  ul.primary-nav li a, p.intro {
    color: #848688;
  }
  .nav-toggle span, .nav-toggle span:after, .nav-toggle span:before {
    background: #848688;
  }
}

.hero#hero-latest {
  background: url('../images/hero-wireframes.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.navigation {
  transition: all 300ms ease-in-out;
  width: 100%;
  z-index: 999;
}

header {
  padding: 50px 0;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;
  padding-right: 15px;
  padding-left: 15px;
  a {
    color: $txt-light;
    text-transform: uppercase;
    font-size: $nav-font-size;
    &.login {
      margin-right: 20px;
    }
  }
  .logo {
    display: inline-block;
    margin-top: -4px;
    min-width: 200px;
    img {
      float: left;
      padding-right: 10px;
      margin-top: -3px;
    }
    a:hover {
      color: #fff;
    }
    .title {
      color: #AEB0B2;
    }
  }
  ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;

    li {
      display: inline;

      a {
        color: #AEB0B2;
        padding-right: 25px;

        &:hover {
          color: $accent-color;
        }
      }
      &:last-child a {
        padding-right: 0px;
      }
    }
  }
  ul.member-actions {
    li {
      display: inline;

      a {
        color: $txt-light;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  .header-nav {
    display: inline-block;
  }
  .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    transition: all 300ms ease-in-out;
  }
}

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  background: #333844 url("../images/polygonal-bg.jpg") no-repeat center center;
  padding-bottom: 190px;
  position: relative;
  i {
    font-family: $accent-font;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
  }
  h2 {
    color: #fff;
    margin: 0 0 20px 0;
  }
  p {
    color: #ACB1B4;
  }
  .btn {
    margin-top: 10px;
  }
  .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width:991px) {
  .hero .hero-content {
    padding-top: 15%;
  }
  .hero.hero-list .hero-content {
    padding-top: 7px;
  }
}
@media screen and (max-width:340px) {
  .hero h1 {
    font-size: 48px;
  }
}