// Layout variables partial

$section-padding: 100px 0;

section.intro, section.features-extra, section.sign-up {
  background: $section-light;
}

section.features, section.blog-intro, section.blog {
  background: $section-dark;
}

.section-grey {
  background: $section-dark;   
}

.section-padding {
  padding: $section-padding;
}

.section-image {
  padding: 100px 0 120px 0;
  background-position: center center;
  width: 100%;
  background-size: cover;
  min-height: 400px;
}

section#devices {
  background-position: center top;
  min-height: 700px;
  position: relative;
}

#devices .macbook-pro {
  position: absolute;
  left: 50%;
  top: 110px;
}

section#services {
  background-image: url('/assets/images/desk-gradient.jpg');
}
@media screen and (max-width:762px) {
  section#services {
    background: #F3F4F8;
  }
}

section#helping {
  background-image: url('/assets/images/helping-gradient-left.jpg');
}
@media screen and (max-width:762px) {
  section#helping {
    background: #E6DDCD;
  }
}