// Services

.service {
  position: relative;
  background: #fff;
}

.services-img-right {
  position: absolute;
  left: 50%;
  top: 110px;
}

.services-img-left {
  position: absolute;
  right: 50%;
  top: 110px;
}