---
layout: minimal
meta-title: Adam Koniuszewski | Product Designer
description: Adam Koniuszewski is a Senior UX designer at Pixel and is based in Manchester, UK. He helps to bring digital products & ideas to life.
title: 
redirect_from:
  - /galeria-legnicka/
  - /testimonials/
  - /about/
  - /reading/
  - /resources/
---

<div class="container">

  <!-- Heading -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <header data-aos="fade">
        <div class="logo">
          <a href="/">
            <img src="/assets/images/logo-1.svg" alt="Imaginary Design logo">
            <div class="name">Adam Koniuszewski</div>
            <div class="title">Designer</div>
          </a>
        </div>
      </header>
      <div class="main-heading" data-aos="fade">
        <h1>Helping to bring digital products & ideas to life</h1>
        <!-- <div class="reading-time">
          Reading Time: 3 minutes
        </div> -->
      </div>
    </div>
  </div>
  <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#x64;&#97;&#109;&#64;&#105;&#x6d;&#97;&#x67;&#x69;&#110;&#97;&#114;&#x79;&#100;&#101;&#115;&#x69;&#x67;&#110;&#x2e;&#99;&#x6f;&#46;&#x75;&#x6b;" class="contact-button hidden-xs">Hire me</a>
  
  <div class="row">
    <div class="embed-image">
      <div class="col-md-12">
        <img src="/assets/images/adam_planning-1.png" class="img-responsive" alt="Adam Koniuszewski - Product Designer">
      </div>
    </div>
  </div>
  
  <!-- Body text -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- <h2 style="margin-bottom: 30px; margin-top: 0;">About me</h2> -->
      <p>Hi, I'm Adam Koniuszewski, a digital product designer living in Manchester, UK. I help business owners improve the digital experience of their users and enable them adapt to the ever-changing digital landscape. I'm Head of User Experience at Built by Pixel.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 style="margin-top: 20px;">What I can help you with</h2>
      <div class="service-list-item">
        <h3>UI / UX Design</h3>
        <p>Users evaluate a design in 50 milliseconds. I can help you make those first milliseconds count.</p>
        <ul>
          <li>UX Prototyping</li>
          <li>User Research and Testing</li>
          <li>Design Systems</li>
          <li>User Interface Design</li>
        </ul>
      </div>
      <div class="service-list-item">
        <h3>Digital Strategy</h3>
        <p>I’ll work with you to understand your business and make sure everything we do aligns with your goals.</p>
        <ul>
          <li>Research and discovery</li>
          <li>Digital audit</li>
          <li>Recommendations and roadmap</li>
        </ul>
      </div>
      <div class="service-list-item" style="border-bottom: none;">
        <h3>Branding & Identity Design</h3>
        <p>I’ll help you create the look, the feel, and the tone of your brand.</p>
        <ul>
          <li>Brand Strategy</li>
          <li>Brand Guidelines</li>
          <li>Marketing Materials</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="embed-image" data-aos="fade-up">
      <div class="col-md-6">
        <img src="/assets/images/adam_ben_talking.jpg" class="img-responsive" alt="Adam Koniuszewski discussing a project.">
      </div>
      <div class="col-md-6">
        <img src="/assets/images/adam_ben.jpg" class="img-responsive" alt="Adam Koniuszewski discussing a system flow.">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 style="margin-top: 20px; margin-bottom: 30px;">Why hire me</h2>
      <p>I love a challenge; the more complex the better. For me there is nothing more rewarding than taking a complicated problem, breaking it down and delivering a beautifully simple solution. I question everything, continually asking “can this be better?”</p>
      <p>Over the past 15 years I’ve worked as both a designer and a front-end developer. Projects have included small websites for local businesses right through to multimillion pound e-commerce applications.</p>
      <ul class="contentList">
        <li>I have designed, redesigned, custom built and helped to launch multiple websites and web apps.</li>
        <li>I've created brand identities and guidelines, logos, stationery, brochures, newsletters and internal reports.</li>
        <li>I’ve developed and helped to maintain internal design systems and interface design guidelines.</li>
        <li>I’ve contributed to streamlining work-flows and internal processes.</li>
        <li>I've helped to improve the working relationships between designers and developers.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="embed-image" data-aos="fade-up">
      <div class="col-md-12">
        <img src="/assets/images/adam-chris-talking.jpg" class="img-responsive" alt="Adam Koniuszewski User Experience Designer">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Ultimately, my work is all about helping businesses bring their digital product and service ideas to life and making them easy to use. I love making beautiful visuals but this is not what drives me. What drives me is the underlying user need. I want to create something that actually solves user problems.</p>
    </div>
  </div>

</div><!--container -->

{% include project-carousels.html %}

<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Feel free to have a look at what I’m currently working on <a href="https://dribbble.com/ImaginaryDesign" target="_blank">here</a> or <a href="https://www.instagram.com/imaginarydesign/" target="_blank">here</a>.</p>
      <p>I like to believe that the work I do makes a difference to both individuals and businesses in a variety of industries. I work with people who aren’t afraid of new ideas but more importantly, believe in them and want to make them happen.</p>
      <!-- <div class="testimonial" style="margin-top: 60px; margin-bottom: 0;">
        <blockquote style="margin-bottom: 30px;">When I received the finished products I was more than pleased, I have received many compliments on the quality of my website and branding. I will definitely be using Adam again.</blockquote>
        <div class="testimonial-user">
          <img src="/assets/images/sarah_avatar.png" alt="Client avatar">
          <div class="name">Sarah Taylor</div>
          <div class="title">Taylor Made Cupcakes</div>
        </div>
      </div>-->
    </div>
  </div>

  <div class="row">
    <div class="embed-image" data-aos="fade-up" style="padding-top: 50px;">
      <div class="col-md-4">
        <img src="/assets/images/adam_meeting.jpg" class="img-responsive" alt="Adam Koniuszewski Product Designer during a meeting">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/adam_chris.jpg" class="img-responsive" alt="Adam Koniuszewski Product Designer review">
      </div>
      <div class="col-md-4">
        <img src="/assets/images/adam_stewart.jpg" class="img-responsive" alt="Adam Koniuszewski Product Designer chatting with Stewart">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>During my university days I had visions of being an artist. I was pretty good at it, I even exhibited and won a few awards but now I simply treat it as a <a href="/art">hobby</a>.</p>
      <p>I live in Manchester with my wife and our two daughters. My current job title is Head of User Experience at <a href="https://www.builtbypixel.com/" target="_blank">Built By Pixel</a>. I work with our development team to make better, smarter and easier to use digital tools for our clients.</p>
      <p>I occasionally post to <a href="https://dribbble.com/ImaginaryDesign" target="_blank">Dribbble</a>, <a href="https://twitter.com/ImaginaryDesign" target="_blank">Twitter</a> and <a href="https://www.instagram.com/imaginarydesign/" target="_blank">Instagram</a>. I read articles on <a href="https://medium.com/@imaginarydesign" target="_blank">Medium</a>.</p>
    </div>
  </div>
</div>

<div class="faqs-2">
  <div class="container">
    <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
      <div class="col-md-8 col-md-offset-2">
        <h2>FAQ</h2>
        <h3>Do you code?</h3>
        <p>I believe in goals, not tools but I always tinker with code and explore ways how technology can help us be more efficient and have better lives.</p>
        <h3>What tools do you use?</h3>
        <p><a href="https://www.mozilla.org/en-GB/firefox/new/" target="_blank">Firefox</a> is my main browser. I use <a href="https://www.sketchapp.com/" target="_blank">Sketch</a> and <a href="http://principleformac.com/" target="_blank">Principle</a> for all my UI work, <a href="https://www.sublimetext.com/" target="_blank">Sublime Text 3</a> for when I am editing a code and <a href="https://www.iterm2.com/" target="_blank">iTerm2</a> when interacting with a command line. I use <a href="https://todoist.com/" target="_blank">Todoist</a> to organise my tasks and <a href="https://bear.app/" target="_blank">BearApp</a> for writing. I use git and <a href="https://github.com/" target="_blank">Github</a>/<a href="https://bitbucket.org/product" target="_blank">Bitbucket</a> for code versioning.</p>
      </div>
    </div>

    <div class="row" style="padding-bottom: 60px;">
      <div class="col-md-8 col-md-offset-2">
        <h2>Latest writing</h2>
        <ul class="list-unstyled posts-list" style="margin-left: 0">
          {% for post in site.posts limit:3 %}
            {% if post.hidden != true %}
              <li>
                <h2 style="margin-bottom: 10px;"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="reading-time">
                  {{ post.date | date_to_long_string }}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 style="margin-bottom: 30px;">Get in touch</h2>
        <p>If you would like to say hello or discuss a potential project then please <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#x64;&#97;&#109;&#64;&#105;&#x6d;&#97;&#x67;&#x69;&#110;&#97;&#114;&#x79;&#100;&#101;&#115;&#x69;&#x67;&#110;&#x2e;&#99;&#x6f;&#46;&#x75;&#x6b;">drop me a line</a>.</p>
        <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#x64;&#97;&#109;&#64;&#105;&#x6d;&#97;&#x67;&#x69;&#110;&#97;&#114;&#x79;&#100;&#101;&#115;&#x69;&#x67;&#110;&#x2e;&#99;&#x6f;&#46;&#x75;&#x6b;" class="btn btn-large">Get in touch</a>
      </div>
    </div>
  </div>
</div>