<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="footer-links">
          <ul class="footer-group">
            <li><a href="/#services">Services</a></li>
            <li><a href="/#work">Work</a></li>
            {% assign pages = site.pages %}
            {% for p in pages order:ascending %}
            {% if p.in-nav == true %}
            <li {% if p.url == page.url %} class="active" {% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="/#contact">Contact</a></li>
          </ul>
          <p>Designed, developed, and maintained in Manchester by Adam Koniuszewski. View <a href="https://github.com/Imaginarydesign/imaginarydesign.co.uk">the source</a>.</p>
        </div>
      </div>
      <div class="social-share">
        <p>Elsewhere</p>
        <a href="https://twitter.com/ImaginaryDesign" class="twitter-share"><i class="fa fa-twitter"></i></a> 
        <a href="https://dribbble.com/ImaginaryDesign" class="dribbble-share"><i class="fa fa-dribbble"></i></a>
        <a href="https://github.com/Imaginarydesign" class="github-share"><i class="fa fa-github"></i></a>
        <a href="https://uk.linkedin.com/in/koniuszewski" class="linkedin-share"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>