<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="https://twitter.com/ImaginaryDesign">Twitter</a></li>
                        <li><a href="https://dribbble.com/ImaginaryDesign">Dribbble</a></li>
                        <li><a href="https://github.com/Imaginarydesign">Github</a></li>
                        <li><a href="https://uk.linkedin.com/in/koniuszewski">LinkedIn</a></li>
                    </ul>
                    <p>Designed, developed, and maintained in Manchester by Adam Koniuszewski. View <a href="https://github.com/Imaginarydesign/imaginarydesign.co.uk">the source</a>.</p>
                </div>
            </div>
            <div class="social-share">
                <p>Elsewhere</p>
                <a href="https://twitter.com/ImaginaryDesign" class="twitter-share"><i class="fa fa-twitter"></i></a> 
                <a href="https://dribbble.com/ImaginaryDesign" class="dribbble-share"><i class="fa fa-dribbble"></i></a>
                <a href="https://github.com/Imaginarydesign" class="github-share"><i class="fa fa-github"></i></a>
                <a href="https://uk.linkedin.com/in/koniuszewski" class="linkedin-share"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>