    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="{{ site.url }}/assets/images/hero-adam.jpg" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:site" content="@Imaginarydesign" />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/hero-adam.jpg" />
    <meta name="twitter:creator" content="@Imaginarydesign" />

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/touch-logo.png">
    <link rel="stylesheet" href="/assets/css/main.min.css?ver={{ site.data.cache_bust_css | truncate: 10, '' }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->