<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="/">
                        <img src="/assets/images/logo.png" alt="Imaginary Design logo">
                        <div class="name">Adam Koniuszewski</div>
                        <div class="title">UI/UX designer</div>
                    </a>
                </div>
                <div class="header-nav pull-right">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="/#about">About</a></li>
                            <li><a href="/#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content">
                    <h1>Imagination is more important than knowledge</h1>
                    <p class="intro">I'm a Manchester-based designer and front-end developer. I help businesses grow through design and code.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div> -->
</section>