<section class="hero" id="hero-latest">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt="Imaginary Design logo"></a></div>
                <div class="header-nav pull-right">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="/#about">About</a></li>
                            <li><a href="/#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content">
                    <h1>Latest works</h1>
                    <p class="intro">A small selection of some of my most recent work. If you’d like to discuss a project of your own, please contact me.</p>
                </div>
            </div>
        </div>
    </div>
</section>