<!-- Hero Minimal -->
<div class="row hero-mini">
  <div class="col-md-8 col-md-offset-2">
    <header data-aos="fade">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo-1.svg" alt="Imaginary Design logo">
          <div class="name">Adam Koniuszewski</div>
          <div class="title">Designer</div>
        </a>
      </div>
    </header>
    <div class="main-heading" data-aos="fade">
      <h1>{{ page.title }}</h1>
      <div class="reading-time">
        {{ page.date | date_to_long_string }} | {{ page.reading_time }} read
      </div>
    </div>
  </div>
</div>
<a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#x64;&#97;&#109;&#64;&#105;&#x6d;&#97;&#x67;&#x69;&#110;&#97;&#114;&#x79;&#100;&#101;&#115;&#x69;&#x67;&#110;&#x2e;&#99;&#x6f;&#46;&#x75;&#x6b;" class="contact-button hidden-xs"><i class="fa fa-envelope-o"></i> Get in touch</a>