<section class="hero hero-home hero-light">
    {% include navbar.html %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="hero-content">
                    <h1>UX Designer & Developer for hire</h1>
                    <p class="intro">I help people like you grow through design and code.</p>
                    <a href="/#contact" class="btn btn-fill btn-large btn-margin-right">Get in touch</a>
                </div>
            </div>
            <div class="col-md-4 visible-md visible-lg">
              <!-- Here -->
            </div>
        </div>
    </div>
    <!-- <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div> -->
</section>