<section class="navigation">
  <header>
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo.png" alt="Imaginary Design logo">
          <div class="name">Adam Koniuszewski</div>
          <div class="title">UI/UX designer</div>
        </a>
      </div>
      <div class="header-nav pull-right">
        <nav>
          <ul class="primary-nav">
            <li><a href="/#about">About</a></li>
            {% assign pages = site.pages %}
            {% for p in pages order:ascending %}
            {% if p.in-nav == true %}
            <li {% if p.url == page.url %} class="active" {% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="navicon">
        <a class="nav-toggle" href="#"><span></span></a>
      </div>
    </div>
  </header>
</section>