<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="Imaginary Design">
            <div class="name">Adam Koniuszewski</div>
            <div class="title">UI/UX designer</div>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% assign pages = site.pages %}
            {% for p in pages order:ascending %}
            {% if p.in-nav == true %}
            <li {% if p.url == page.url %} class="active" {% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>