<section class="section-padding article-index" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
          <h3 class="text-center">My favourite design & development links of the week, delivered right to you inbox</h3>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//imaginarydesign.us7.list-manage.com/subscribe/post?u=5d93733113848f98b75c6afe6&amp;id=bc841a442d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate style="text-align: center;">
                <div id="mc_embed_signup_scroll" class="form-group">
                  <label class="sr-only" for="email">Email address</label>
                  <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email address" required style="min-width: 300px;">
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d93733113848f98b75c6afe6_bc841a442d" tabindex="-1" value=""></div>
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-fill">
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</section>