---
layout: list
title: Resources
meta-title: Resources | Adam Koniuszewski, UI/UX Designer & Front-End Developer
description: A collection of free resources made by me.
intro: A collection of free resources made by me
in-nav: true
---

{% for post in site.resources %}
{% if post.hidden != true %}
<section class="case-study section-padding {% cycle 'section-grey', '' %}" style="overflow: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8">
          <div class="article-stream">
            <ul class="list-inline meta-categories">
            {% for category in post.categories %}
            <li><a href="{{ category }}">{{ category | capitalize }}</a></li>
            {% endfor %}
            </ul>
            <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="case-study-img"><img src="{{ post.image }}" alt="{{ post.title }}"></div>
</section>
{% endif %}
{% endfor %}