<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="top">

    <div class="available">
      <a href="#">Available</a>
    </div>
    
    <!-- HERO
    ================================================== -->
    {% include hero.html %}

    <!-- PAGE CONTENT
    ======================================= -->
    {{ content }}

    <!-- FOOTER
    ================================================== -->
    {% include footer.html %}

    <!-- SCRIPTS
    ================================================== -->
    {% include scripts.html %}

  </body>
</html>