<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="top">
    
    <!-- HERO
    ================================================== -->
    {% include hero_list.html %}

    <!-- PAGE CONTENT
    ======================================= -->
    {{ content }}

    <!-- FOOTER
    ================================================== -->
    {% include footer.html %}

    <!-- SCRIPTS
    ================================================== -->
    {% include scripts.html %}

  </body>
</html>