<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="top">
    
    <!-- HERO
    ================================================== -->
    {% include hero_single.html %}

    <!-- PAGE CONTENT
    ======================================= -->
    <section class="section-padding" style="padding: 60px 0;">
      <div class="container">
        <div class="row article-single">
          <div class="col-sm-8 col-sm-offset-2">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    {% include footer.html %}

    <!-- SCRIPTS
    ================================================== -->
    {% include scripts.html %}

  </body>
</html>